:root {
  --font-family: 'Poppins', sans-serif;
  line-height: 1.5;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family) !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.dark {
  @apply bg-bgDark;
}
.light {
  @apply bg-bgLight;
}

.glow-item {
  -webkit-box-shadow: 0px 0px 200px 20px rgba(86, 176, 255, 0.9);
  -moz-box-shadow: 0px 0px 200px 20px rgba(86, 176, 255, 0.9);
  box-shadow: 0px 0px 200px 20px rgba(86, 176, 255, 0.9);
}

.glow-header {
  -webkit-box-shadow: 0px 0px 29px 3px rgba(86, 176, 255, 0.9);
  -moz-box-shadow: 0px 0px 29px 3px rgba(86, 176, 255, 0.9);
  box-shadow: 0px 0px 29px 3px rgba(86, 176, 255, 0.9);
}
